*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #16161a;
  --clr-highlight: #ffd803;
  --clr-p: #94a1b2;
  --clr-stroke: #010101;
  --clr-main: #fffffe;
  --clr-secondary: #72757e;
  --clr-tertiary: #2cb67d;
  --clr-btn: #272343;

  /* z-index*/
  --modal-z-index: 100;
  --footer-z-index: 99;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr-btn);
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  font-variant: small-caps;
}
#root {
  background-color: var(--clr-primary);
  height: 100vh;
  --height: 50px;
  overflow: hidden;
}
.main {
  height: calc(100% - var(--height));
}
.footer {
  background-color: var(--clr-main);
  height: var(--height);
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border: none;
  background-color: var(--clr-highlight);
  color: var(--clr-btn);
  font-weight: 600;
  font-variant: small-caps;
  font-size: 2rem;
  gap: 1rem;
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: var(--clr-btn);
  color: var(--clr-highlight);
}
.algo {
  position: relative;
}
.modal__container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: var(--modal-z-index);
  backdrop-filter: blur(10px);
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 90vw;
  max-width: 500px;
  background-color: var(--clr-highlight);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.modal__header {
  padding: 0.5rem 0.75rem;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.modal__header > h2 {
  font-size: 1.5rem;
}
.algo__banner {
  position: absolute;
  background-color: crimson;
  color: var(--clr-highlight);
  font-size: 0.75rem;
  left: 0;
  right: 0;
  bottom: 120%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: none;
}
.algo__banner::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5rem solid crimson;
  bottom: -1rem;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

.modal__header > button {
  width: auto;
  background-color: transparent;
}
.modal__header > button:hover {
  background-color: transparent;
  color: var(--clr-btn);
}
.modal__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.choose {
  display: flex;
  column-gap: 2rem;
  font-size: 1.5rem;
  align-items: center;
}
.radio {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15rem solid var(--clr-btn);
  cursor: pointer;
  position: relative;
}
.radio::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: var(--clr-btn);
  display: none;
}
.radio:checked::before {
  display: block;
}
@media screen and (min-width: 776px) {
  .radio {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid var(--clr-btn);
  }
  .algo__banner {
    font-size: 1.25rem;
  }
  #root {
    --height: 60px;
  }
  .btn {
    font-size: 3rem;
  }
  .modal__header > h2 {
    font-size: 2rem;
  }
}
.choose span:first-child {
  margin-right: 2rem;
  font-size: 2rem;
}
.range-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
.range {
  appearance: none;
  width: 100%;
  background-color: var(--clr-highlight);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
  background-color: var(--clr-btn);
  border-radius: 1rem;
  height: 20px;
  cursor: pointer;
}
.range::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: var(--clr-highlight);
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.bubble {
  padding: 0.5rem 0;
  min-width: 70px;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: var(--clr-btn);
  color: var(--clr-highlight);
  border-radius: 0.25rem;
}
